.mat-toolbar {
  position: fixed;
  z-index: 999;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);

  #spacer {
    flex-grow: 1;
  }
}

.outlet {
  margin: auto;
  padding: 120px 3rem 2rem;
  max-width: 1161px;
  height: auto;
}
