<a [routerLink]="['/tracks', track.id]">
  <mat-card *ngIf="track">
    <img mat-card-image src="{{ track.album.images[0].url }}" alt="">
    <mat-card-title>{{ track.name }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngFor="let artist of track.artists; let i = index;">
        <a [routerLink]="['/artists', artist.id]">{{ artist.name }}</a>
        <span>{{ (track.artists.length == i + 1 ? '' : ', ') }}</span>
      </span>
      <br>
      <a [routerLink]="['/albums', track.album.id]">
        {{ track.album.name }}
      </a>
    </mat-card-subtitle>
  </mat-card>
</a>
