.mat-card {
  // provide from using new line
  white-space: nowrap;

  display: inline-block;
  width: 320px;
  height: 430px;

  img {
    max-height: 320px;
  }

  * {
    //show dots when title is to long
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
