.mat-card {
  // provide from using new line
  white-space: nowrap;

  margin: 0 24px 24px 0;

  display: inline-block;
  width: 320px;
  height: 420px;

  img {
    max-width: 352px;
  }

  * {
    //show dots when title is to long
    text-overflow: ellipsis;
    overflow: hidden;
  }

  mat-card-subtitle {
    a {
      color: darkgray;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;


    }
    a:hover {
      text-decoration: underline;
    }
  }
}

mat-card:hover {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 8px 0 rgba(0,0,0,.14),0 1px 15px 0 rgba(0,0,0,.12);
}
