.search {
  display: inline-block;
  margin: auto;
  padding: 5%;
  min-height: 400px;

  mat-form-field {
    padding-top: 5%;
  }
}

app-thumbnail {
  padding: 0 3% 3% 0;
  display: inline-flex;
  margin: auto;
}
